@{
    ViewBag.Title = "Home Page";
}

<div class="card bg-dark text-white">
    <img src="~/Content/img/site_banner.jpg" class="card-img" alt="Wave Checkered Flag">
    <div class="card-img-overlay">
        <h1 class="card-title">Welcome to Zero Delta Racing</h1>
        <h2 class="card-text">Get on the Grid</h2>
    </div>
</div>

<div class="row">

</div>