@{
    ViewBag.Title = "Home Page";
}

<br />

<div class="jumbotron">
    <h1>Welcome to Zero Delta Racing</h1>
    <h3>Premier spot for competitive online sim-racing based in North America</h3>
    <hr class="my-4">
    <h4>Find a league that fits your lifestyle now</h4>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Register","Account")" role="button">Register Now</a>
    <hr class="my-4" />
    <h4>Already have an account? Log in now</h4>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Login","Account")" role="button">Login in</a>
</div>
<br />
<br />
<br />


